<!DOCTYPE html>
<html>
  <head>
    <title>Umbreon Media Center</title>
    <link rel="shortcut icon" href="/fav.ico">
	
    <script src="/socket.io/socket.io.js"></script>
    <script src="mediaplayback.js"></script>
    <script src="jquery.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h1>Umbreon Media Center</h1>
    <a href="http://eLinux.org/ECE497_Project_Music_Server" 
target="_blank">
        <img src="uLogo.jpg" width=400 align="right"></a>
    <i>By Eric Ames and David Cooper</i>
    <p/>
    	<button id="player" onClick='play()'>Start Playlist</button>
    	<button id="getList" onClick='getPlayList()'>View Playlist</button>
    <p/>
	
	<span id="status" />
	<img id="uploadedSong" />
	
        <form method="POST", action="/upload", enctype="multipart/form-data">
            <input type="file", name="newSong" />
            <input type="submit", value="Submit Song!"/>
	
	<table id="playList">
	</table>
	
	<p></p>
    <a href="http://Rose-Hulman.edu" target="_blank">
        <img src="RoseLogo96.png" width=200></a>
    <br/>
    <p/>

	</body>
</html>

