
doctype 5

include boneServer.html

form(action="/upload", class="dropzone", id='testDrop')
            
form(method="GET", action='/download', enctype='multipart/form-data')
            input(type='submit', value='Download', name='download')
